Server/whitelist.json
Server/whitelist.json
Server/usercache.json
Server/ops.json
Server/banned-ips.json
Server/banned-players.json
Server/version_history.json
Server/.gitignore
Server/config/legacy-backup